/* ============================================= */
/* CSS for control sap.me/CalendarLegend.control */
/* ============================================= */
.sapMeCalendarLegend {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.sapUIMeLegendOuterContainer {
	min-height: 3rem;
}

.sapUIMeLegendIconContainer {
}

.sapUIMeCalendarLegendLabels {
	display: inline-block;
	margin-left: 0.75rem;
	font-size: 0.875rem;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    vertical-align: middle;
}

.sapMLabel.sapUIMeCalendarLegendLabels::after {
	content: none;
}

.sapUIMeLegendMenuContainer {
	margin-top: 0.8rem;
	overflow: hidden;
	height: auto;
	margin-left: 0rem;
}

.sapUIMeLegendMenu {
	display: inline-block;
	overflow: hidden;
	height: auto;
	margin-left: 0rem;
	margin-top: 1rem;
	margin-bottom: 0.75rem;
}

.sapUIMeLegendColor {
    height: .875rem;
    width: .875rem;
	display: inline-block;
	margin-left: 1rem;
	margin-top: .25rem;
	margin-bottom: .25rem;
	vertical-align: middle;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sapUIMeLegendLine {
	font-size: 0.875rem;
	margin-top: 0rem;
	vertical-align: middle;
	height: 1.5rem;
	display: inline-block;
	white-space: nowrap;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sapUIMeLegendIcon {
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.sapUIMeLegendArrow {
	display: inline-block;
	float: right;
}